<div class="orden">
  <div class="tarjeta" *ngIf="personaje$ | async as personaje">
    <div class="imagen">
      <img [src]="personaje.image" [alt]="personaje.name"/>
    </div>
    <div>
      <div class="header">
          <h3><span>Nombre:</span> {{personaje.name | slice: 0:15}}</h3>
          <h5><span>Genero: </span>{{personaje.gender}}</h5>
          <h6><span>Estado: </span>{{personaje.status}}</h6>
          <h6><span>Especie: </span>{{personaje.species}}</h6>
          <h6><span>Locacion: </span>{{personaje.location.name}}</h6>
          <h6><span>Origen: </span>{{personaje.origin.name}}</h6>

      </div>


    </div>
    </div>
  </div>
  <button type="button" [routerLink]="['']">Regresar</button>




