<div class="row g-0 justify-content-center" *ngIf="personaje$ | async as personaje">
    <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 100px;">
      <h1 style="text-align: center;">{{personaje.name}}</h1>
       <div class="card">
         <div class="image">
              <img
              [src]="personaje.image"
              [alt]="personaje.name"
              />
              </div>
         <div class="card-inner">
           <div class="header">
                <h2>{{personaje.name | slice:0:15}}</h2>
             <h4 class="text-muted">{{personaje.gender}}</h4>
              <small class="text-muted">{{personaje.location.name}}</small>
           </div>
      </div>
    </div>
  </div>
</div>




