<div infinite-scroll (scrolled)="onScrollDown()" class="container-scroll">
  <ng-container *ngFor="let personaje of personajes">
    <div class="tarjeta" (click)="mostrarDetalles()" [routerLink]="['/detallesPersonaje', personaje.id]" >
    <div class="imagen">
      <img [src]="personaje.image" [alt]="personaje.name"/>
    </div>
    <div class="content-tarjeta">
      <div class="header">
          <h3>{{personaje.name | slice: 0:15}}</h3>
          <h5>{{personaje.gender}}</h5>
          <h6 *ngIf="personaje.status=='Alive'" [ngStyle]="{color: '#8DD330'}">{{personaje.status}}</h6>
          <h6 *ngIf="personaje.status=='Dead'" [ngStyle]="{color: 'red'}">{{personaje.status}}</h6>
          <h6 *ngIf="personaje.status!='Alive'&& personaje.status!='Dead'" [ngStyle]="{color: 'grey'}">{{personaje.status}}</h6>
          <h6 style="margin-bottom: 25px;">{{personaje.species}}</h6>
          <small>{{personaje.location.name}}</small>

      </div>


    </div>
    </div>
  </ng-container>
  <div *ngIf="personajes.length<=0" class="mensaje">
    <svg xmlns="http://www.w3.org/2000/svg" width="210" height="210" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
    </svg>
    <p>404</p>
    <h1>No se encontraron resultados para tu busqueda</h1>

  </div>

</div>
<!--
<div class="modal" *ngIf="mostrar">
  <div class="content-modal"  *ngIf="personaje$ | async as personaje">
     <img [src]="personaje.image" [alt]="personaje.name"/>
  </div>
</div> -->



