h3{
  font: bold;
  font-size: 22px;
  text-shadow: black 1px 1px 1px;
}

h5{
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 25px;
}

small{
  font-size: 15px;
}

h6{
  margin-top: 25px;
}

.tarjeta{
  border: rgb(39, 43, 73) groove 2px;
  margin-top: 40px;
  width: 600px;
  height: 250px;
  margin-left: 35px;
  display: -webkit-inline-box;
  display: -o-inline-box;
  display: -moz-inline-box;
  border-radius: 25px;
  background-color: white;

 /* float: left; //Forma para poner que queden de a dos, pero hay un problema con la pintura del body y no se forma el scroll infinito */

}

img{
  width: 230px;
  height: 246px;
  background-size: contain;
  border-radius: 25px;

}

.tarjeta:hover{
  box-shadow: aquamarine 7px 7px 6px;
  transition: transform ease 1s;
  transform: scale(1.1);
  filter: saturate(180%);
  background-color: #85F0EE;
}

.header{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  width: 367px;
}


