@font-face {
  font-family: adventureTime;
  src: url('Fuente/AdventureTimeLogo.ttf');
}

a{
  color: black;
  text-decoration: none;
}

h3{
  font-size: 25px;
}

h5{
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 25px;
}

small{
  font-size: 15px;
}

.card{
  width: 650px;
  height: 250px;
  margin-left: 35px;
  display: -webkit-inline-box;
  display: -o-inline-box;
  display: -moz-inline-box;


}

.image{
  width: 250px;
  height: auto;

}

.card:hover{
  box-shadow: aquamarine 7px 7px 6px;
  transition: transform ease 1s;
  transform: scale(1.1);
  filter: saturate(180%);
  background-color: #85F0EE;
}

.header{
  font-family: adventureTime;
  font-size: 18px;
}


